.cid-rVBmYi8YJC {
  /*padding-top: 90px;
  padding-bottom: 90px;*/
  background-color: #ffffff;
}
.cid-rVBmYi8YJC .item {
  padding-bottom: 2rem;
}
.cid-rVBmYi8YJC .item-wrapper {
  height: 100%;
}
.cid-rVBmYi8YJC .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-rVBmYi8YJC .carousel-control,
.cid-rVBmYi8YJC .close {
  background: #1b1b1b;
}
.cid-rVBmYi8YJC .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-rVBmYi8YJC .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-rVBmYi8YJC .close {
  position: fixed;
  opacity: .8;
  font-size: 35px;
  font-weight: 300;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  line-height: 70px;
  border: none;
  text-align: center;
  text-shadow: none;
  z-index: 5;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
  font-family: 'MobiriseIcons';
}
.cid-rVBmYi8YJC .close::before {
  content: '\e91a';
}
.cid-rVBmYi8YJC .close:hover {
  opacity: 1;
  background: #F00;
  color: #000;
}
.cid-rVBmYi8YJC .carousel-control {
  position: fixed;
  width: 70px;
  height: 70px;
  top: 50%;
  margin-top: -35px;
  line-height: 70px;
  border-radius: 50%;
  font-size: 35px;
  border: 0;
  opacity: .5;
  text-shadow: none;
  z-index: 5;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.cid-rVBmYi8YJC .carousel-inner > .active {
  display: block;
}
.cid-rVBmYi8YJC .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-rVBmYi8YJC .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-rVBmYi8YJC .carousel-control .icon-next,
.cid-rVBmYi8YJC .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-rVBmYi8YJC .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-rVBmYi8YJC .carousel-control,
  .cid-rVBmYi8YJC .carousel-indicators,
  .cid-rVBmYi8YJC .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-rVBmYi8YJC .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-rVBmYi8YJC .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-rVBmYi8YJC .carousel-indicators {
  bottom: 0;
  margin-bottom: 3px;
}
@media (max-width: 991px) {
  .cid-rVBmYi8YJC .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-rVBmYi8YJC .carousel-indicators {
    display: none;
  }
}
.cid-rVBmYi8YJC .carousel-indicators .active,
.cid-rVBmYi8YJC .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #1b1b1b;
  opacity: .5;
  border: 4px solid #1b1b1b;
}
.cid-rVBmYi8YJC .carousel-indicators .active {
  background: #fff;
}
.cid-rVBmYi8YJC .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-rVBmYi8YJC .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-rVBmYi8YJC .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-rVBmYi8YJC .modal-content {
  border-radius: 0;
  border: none;
  background:#000000;
}
.cid-rVBmYi8YJC .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-rVBmYi8YJC .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(98.25vh);
}
.cid-rVBmYi8YJC .carousel {
  width: 100%;
}
.cid-rVBmYi8YJC .modal-dialog .carousel-inner {
  height: auto;
}
.cid-rVBmYi8YJC .modal-backdrop.in {
  opacity: .8;
}
.cid-rVBmYi8YJC .modal.fade .modal-dialog {
  -webkit-transition: margin-top 0.3s ease-out;
  -moz-transition: margin-top 0.3s ease-out;
  -o-transition: margin-top 0.3s ease-out;
  transition: margin-top 0.3s ease-out;
}
.cid-rVBmYi8YJC .modal.fade .modal-dialog,
.cid-rVBmYi8YJC .modal.in .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
